@CHARSET "UTF-8";
.subject{
	text-align: left;
	margin-top: 50px;
	margin-bottom: 30px;
}
#header{
	font-size: 25px;
}
#delete{
	background-color: white;
}
#delete:hover{
	background: black;
	color: white;
}
.delete{
	text-align: right;
	margin-bottom: 10px;
}
#id{
	background-color: #EAEAEA;
}
#password{
	background-color: #EAEAEA;
}
#phone{
	background-color: #EAEAEA;
}
#popup_open_btn{
	margin-left: -100px;
}
#my_modal {
	display: none;
	width: 300px;
	padding: 20px 60px;
	background-color: #fefefe;
	border: 1px solid #888;
	border-radius: 3px;
}
#my_modal .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}
#modalInput{
	border: 1px solid black;
}
.btn{
	border: 1px solid white;
	width: 50px; 
	height: 25px;
}
.btn:hover{
	background: black;
	color: white;
}
.col-sm-2{
	text-align: left;
	display: inline-block;
}