@CHARSET "UTF-8";
.agree_form{
	margin-top: 30px;
	background-color: #F6F6F6;
}
textarea{
	height: 100px;
	width: 700px;
}
label{
	font-size: 17px;
}
#last{
	font-size: 10px;
}
.btn{
	border: 1px solid white;
	width: 50px; 
	height: 25px;
}
.btn:hover{
	background: black;
	color: white;
}